# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Streamlit specific
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# IDE specific files
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
